img
{
  max-width: 100%;
}
.picture
{
  display: flex;
  flex-direction: column;
} 
 .picture .pokemon
{
  margin-top: 8px;
  margin-bottom: 8px;
}
.picture .coca-cola
{
  margin-top: 8px;
  margin-bottom: 8px;
} 
.history
{
  width: 98%;
  background-color: #EAE3C9;
  margin-right: auto;
  margin-left: auto;
}
h2
{
  text-align: center;
}
/* @media(max-width: 1441px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 20px;
    top: 39%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 20px;
    bottom: 51%;
    left: 0%; 
  }  
}
@media(max-width: 1025px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 14px;
    top: 43%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 14px;
    bottom: 46%;
    left: 0%; 
  }  
}
@media(max-width: 769px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 10px;
    top: 33%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 10px;
    bottom: 59%;
    left: 0%; 
  }  
} */
/* @media(max-width: 426px)
{
  img
  {
    margin-left: 0;
  }
  .picture .pokemon
  {
    font-size: 9px;
    left: 2px;
    top: -30px;
    width: 28%;
  }
  .picture .coca-cola
  {
    font-size: 9px;
    left: 2px;
    top: -150px;
    width: 32%;
  }
} */
/* @media(max-width: 413px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 16.8%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 77%;
    left: 0%; 
  } 
}
@media (max-width:376px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 22.5%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 69%;
    left: 0%; 
  }
}
@media (max-width: 361px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 18%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 74%;
    left: 0%; 
  }
}
@media  (max-width: 321px) 
{
  img
  {
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 19.5%;
    left: 0%
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 72%;
    left: 0%; 
  }
} */