body
{
  font-family: Arial, Helvetica, sans-serif; 
}
.navigation
 {
  background-color: #252424;
  overflow: auto; 
}
  
.navigation a 
{
  float: left;
  padding: 12px; 
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 18.4%; 
  text-align: center;
}

.navigation a:hover
{
  background-color: #ddd;
  color: black;
}

.navigation a.current 
{
  background-color:bisque;
  color: black;
}
.pokemon
{
  position: absolute;
  top: 520px;
  left: 48px;
  background-color: white;
}

.coca-cola
{
  position: absolute;
  bottom: 40px;
  left: 48px;
  background-color: white;
}
