img
{
  max-width: 100%;
  margin-left: 3%;
}
.pokemon
{
  position: absolute;
  top: 70%;
  left: 3%;
  background-color: white;
}

.coca-cola
{
  position: absolute;
  bottom: 16%;
  left: 3%;
  background-color: white;
}
@media(max-width: 426px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 25%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 66%;
    left: 0%; 
  } 
}
@media(max-width: 413px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 16.8%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 77%;
    left: 0%; 
  } 
}
@media (max-width:376px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 22.5%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 69%;
    left: 0%; 
  }
}
@media (max-width: 361px)
{
  img{
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 18%;
    left: 0%;
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 74%;
    left: 0%; 
  }
}
@media  (max-width: 321px) 
{
  img
  {
    margin-left: 0;
  }
  .pokemon
  {
    font-size: 9px;
    top: 19.5%;
    left: 0%
  }
  .coca-cola
  {
    font-size: 9px;
    bottom: 72%;
    left: 0%; 
  }
}